packages/
bin
obj
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
src/FubuMVC.6.0.ReSharper
_combined/
src/FubuMVC.6.0.ReSharper
src/CommonAssemblyInfo.cs
TestResult.xml
results/
bottles.cmd
storyteller.cmd
run_st.cmd
artifacts
ripple.log
*.user

ripple_exe
*.gem
