<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ripple</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="file://C:/code/nugets" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="file://C:/code/nugets/{branch}" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="FubuCore" Version="1.1.0.242" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
  </Nugets>
  <Groups>
    <Group>
        <Dependency Name="Dependency1" />
        <Dependency Name="Dependency2" />
    </Group>
  </Groups>
</ripple>